.loader {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px dashed aqua;
    margin: 0 auto;
    animation: spin 3s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(90deg) scale(0.5);
    }

    100% {
        transform: rotate(180deg) scale(1);
    }
}